@model IEnumerable<ChalkIt.Models.Course>

    <h2 class="inlineBlock">Courses</h2>&nbsp;&nbsp;&nbsp;&nbsp;
    @{
    string addActionUrl = Url.Action("AddCourse", "Author");
    <div class="addButtonStyle" onclick="ajaxChangeCourseForm('@addActionUrl')">+</div>
    }
        <ul class="iconStyleListContainer">
            @foreach(ChalkIt.Models.Course course in Model)
            {
                string actionUrl = Url.Action("EditCourse", "Author", new { courseID = course.CourseID });
                <li>
                        <div class="iconStyleBoxitem" onclick="ajaxChangeCourseForm('@actionUrl')">
                            @course.CourseName 
                        </div>
                </li>
            }
        </ul>