@{
    ViewBag.Title = "Chalk it Author";
}

@section styles{
    @Styles.Render("~/Content/author.css")
    @Styles.Render("~/Content/horizontalScrollBar.css")
}
<section id="AuthorHome">
    <div id="authorHomeContent">
        <button id="hroizontalBarScrollLeftButton">Left</button>
        <button id="hroizontalBarScrollRightButton"> right</button>
        <div class="hroizontalBarScrollFrame">
            <ul class="hroizontalBarScrollSlidee">
                <li>
                    <div class="hroizontalBarScrollItem">
                        Test 123456 iuoue kkj ljljlj Test 123456 iuoue kkj 
                    </div>
                </li>
                <li>
                    <div class="hroizontalBarScrollItem">
                        Test
                    </div>
                </li>
                <li>
                    <div class="hroizontalBarScrollItem">
                        Test
                    </div>
                </li>
                <li>
                    <div class="hroizontalBarScrollItem">
                        Test
                    </div>
                </li>
                <li>
                    <div class="hroizontalBarScrollItem">
                        Test
                    </div>
                </li>
                <li>
                    <div class="hroizontalBarScrollItem">
                        Test
                    </div>
                </li>
                <li>
                    <div class="hroizontalBarScrollItem">
                        Test
                    </div>
                </li>
                <li>
                    <div class="hroizontalBarScrollItem">
                        Test
                    </div>
                </li>
                <li>
                    <div class="hroizontalBarScrollItem">
                        Test
                    </div>
                </li>
                <li>
                    <div class="hroizontalBarScrollItem">
                        Test
                    </div>
                </li>
                <li>
                    <div class="hroizontalBarScrollItem">
                        Test
                    </div>
                </li>
                <li>
                    <div class="hroizontalBarScrollItem">
                        Test
                    </div>
                </li>
                <li>
                    <div class="hroizontalBarScrollItem">
                        Last
                    </div>
                </li>

            </ul>
        </div>
        



        


        
            <ul class="iconStyleListContainer">
                <li>
                    <div class="iconStyleBoxitem">
                        Test 123456 iuoue kkj ljljlj Test 123456 iuoue kkj 
                    </div>
                </li>
                <li>
                    <div class="iconStyleBoxitem">
                        Test
                    </div>
                </li>
                <li>
                    <div class="iconStyleBoxitem">
                        Test
                    </div>
                </li>
                <li>
                    <div class="iconStyleBoxitem">
                        Test
                    </div>
                </li>
                <li>
                    <div class="iconStyleBoxitem">
                        Test
                    </div>
                </li>
                <li>
                    <div class="iconStyleBoxitem">
                        Test
                    </div>
                </li>
                <li>
                    <div class="iconStyleBoxitem">
                        Test
                    </div>
                </li>
                <li>
                    <div class="iconStyleBoxitem">
                        Test
                    </div>
                </li>
                <li>
                    <div class="iconStyleBoxitem">
                        Test
                    </div>
                </li>
                <li>
                    <div class="iconStyleBoxitem">
                        Test
                    </div>
                </li>
                <li>
                    <div class="iconStyleBoxitem">
                        Test
                    </div>
                </li>
                <li>
                    <div class="iconStyleBoxitem">
                        Test
                    </div>
                </li>
                <li>
                    <div class="iconStyleBoxitem">
                        Last
                    </div>
                </li>

            </ul>
        









    </div>
</section>

@section Scripts{
    @Scripts.Render("~/Scripts/AuthorScripts/authorHome.js")
@Scripts.Render("~/Scripts/horizontalScrollBar.js")
}