#wrapper
{
    width: 100%;
}

#authorHomeContent
{
    text-align: left;
    margin: 0px 20px;
}
.partialViewFormDiv
{
	width: 35%;
    padding:20px;
    margin:auto;
}

button, .buttonStyle
{
    display: inline-block;
}

.left
{
    width:15%;
    height:1px;
    float: left;
}

.right
{
    width:15%;
    min-height:10px;
    float: right;
}
